# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files (don’t upload Kaggle data)
data/
*.csv

# Environment files
.env
kaggle.json

# Model artifacts
rf_model_outputs/
rf_model_outputs_log/
rf_model_outputs_raw/
xgb_clean_outputs/
xgb_model/

*.joblib
*.pkl
.DS_Store
